body {
    cursor: url("./fighter-jet.png"), 1, auto !important;

}

.active {
    background-color: #555555 !important;
    border-radius: 3px;
}

.multi_cursor,
.single_cursor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-width: 300px;
    max-height: 130px;
    justify-content: center;
    align-items: center;
}

.multi_cursor .curs_img {
    width: 65px;
    height: 55px;
    padding: 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 2px 2px;

}

.image {
    width: 30px;
    height: 30px;
}

.single_cursor .curs_img {
    width: 35px;
    height: 35px;
    padding: 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 2px 2px;

}


.multi_cursor::-webkit-scrollbar,
.single_cursor::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.multi_cursor::-webkit-scrollbar,
.single_cursor::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    background-color: #F5F5F5;
}

.multi_cursor::-webkit-scrollbar,
.single_cursor::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}
h1{
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkblue;
    font-size: xx-large;
}
.container {
    width: 300px;
    height: 300px;
}

.container h1 {
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: large;
}